<div class="container my-10">
<h2>Register</h2>
<form class="form mt-6" (ngSubmit)="submit()">
<div class="row">
<div><label>Name</label><input class="input" [(ngModel)]="name" name="name" required></div>
<div><label>Email</label><input class="input" [(ngModel)]="email" name="email" required></div>
<div><label>Password</label><input type="password" class="input" [(ngModel)]="password" name="password" required></div>
</div>
<button class="btn btn-primary mt-6">Create account</button>
</form>
</div>